@import "../../global.scss";

.menu {
    padding: 0;
    width: 100%;
    margin-top: 20px;
    height: 50px;
    position: sticky;
    margin-right: 45px;
    display: flex;
    text-align: center;
    z-index: 999;
    list-style-type: none;
    scrollbar-width: none; 
    background-color: #222930;
    border-radius: 15px;
    &.active {
        flex: 6;
    }

    ul{
        list-style: none;
        font-size: 16px;//kích thước các chữ trong menu
        color: #E9E9E9;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        li{
            margin-top: 10px;//menu cách trên 10px
            margin-right: 25px;//menu cách phải 30px
            a{
                font-size: inherit;
                color: inherit;
                text-decoration: none;//bo dau gach
                margin-left: 20px;//cach trai duong bo
                margin-right: 20px;//cach phai duong bo
                font-family: 'Josefin Sans', sans-serif;
            }

            &:hover{
                font-weight: 150px;
                font-size: 20px;//phong to khi lia chuot vao
                background: #4EB1BA;
                color: #E9E9E9;
                border-radius: 10px;
            }
        }
    }
}