@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-top: 30px;
    font-size: 40px;

    @include mobile{
      font-size: 20px;
    }
  }
  ul {
    margin-top: 15px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile{
      margin: 10px 0;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .center{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    

    .left{
      flex: 6;
      margin-left: 1rem;
      padding: 1rem;
   
            .item {
              width: 100%;
              height: 480px;
              display: flex;
              justify-content: center;
              color: white;
              object-fit: cover;
        
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
              }
            } 
    }
    .right{
      background-color: #ecf0f2;
      border-radius: 10%;
      flex: 6;
      margin-left: 1rem;
      margin-top: 70px;
      padding: 1rem;
      text-indent: 25px;
      margin-right: 30px;
        .hamburger{
          .content {
            font-size: 21px;
            margin-right: 20px;
            object-fit: cover;
            font-family: 'Lora', serif;
            margin-bottom: 10px;
            text-align: justify;
          }
        } 
        .tieude{
          font-family: 'Arial';
          font-size: 45px;
          font-style: bold;
          margin-top: 10px;
          margin-bottom: 10px;
        }    
        li{
          font-size: 20px;

        }
    }
  }

}
